:root {
  --color-dark-01: #181818;
  --color-dark-02: #474747;
  --color-dark-03: #757575;
  --color-accent: #fd6e0a;
  --font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  line-height: 1.6;
}


header {
  flex-shrink: 0;
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-position:
    top left,
    right bottom;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  height: 760px;
  width: 100%;
}
.name {
  color: var(--Dark-01, #181818);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 120px;
}
.name span {
  color: #fd6e0a;
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
ul {
  display: flex;
  margin-right: 40px;
  gap: 50px;
  list-style: none;
}
ul a{
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.btn {
  width: 130px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  text-decoration: none;
  padding: 8px;
  color: white;
  font-family: "Open Sans";
}
.btn1 {
  background-color: white;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-top: 30px;
  margin: o auto;
}

.hero-left h4 {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-left h1 {
  color: var(--Dark-01, #181818);
  font-family: "Open Sans";
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-left p {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 585px;
  margin-bottom: 30px;
}

.hero-left {
  margin-top: 150px;
  width: 50%;
}

.hero-left i{
    margin-right:8px ;
}
.hero-left a {
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 16px;
  border-radius: 5px;
}
.hero-right {
  width: 50%;
  margin-left: 90px;
  margin: 0 auto;
}

.hero-right img {
 
  margin-top: 4px;
  margin-left: -15px;
}
