:root {
  --color-dark-01: #181818;
  --color-dark-02: #474747;
  --color-dark-03: #757575;
  --color-accent: #fd6e0a;
  --font-family: "Open Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  line-height: 1.6;
}

header {
  flex-shrink: 0;
  background-image: url(./images/developer.png), url(./images/header_bg.png);
  background-position:
    top left,
    right bottom;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  height: 760px;
  width: 100%;
}
.name {
  color: var(--Dark-01, #181818);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 120px;
}
.name span {
  color: #fd6e0a;
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
ul {
  display: flex;
  margin-right: 40px;
  gap: 50px;
  list-style: none;
}
ul a {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
.btn {
  width: 130px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fd6e0a;
  text-decoration: none;
  padding: 8px;
  color: white;
  font-family: "Open Sans";
}
.btn1 {
  background-color: white;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-left: 120px;
  margin-top: 30px;
  margin: o auto;
}

.hero-left h4 {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.hero-left h1 {
  color: var(--Dark-01, #181818);
  font-family: "Open Sans";
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hero-left p {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 585px;
  margin-bottom: 30px;
}

.hero-left {
  margin-top: 150px;
  width: 50%;
}

.hero-left i {
  margin-right: 8px;
}
.hero-left a {
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 16px;
  border-radius: 5px;
}
.hero-right {
  width: 50%;
  margin-left: 90px;
  margin: 0 auto;
}

.hero-right img {
  margin-top: 4px;
  margin-left: -15px;
}
/* about section  */
.about h1 {
  color: var(--Dark-01, #181818);
  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10%;
  padding-top: 50px;

  .about {
    width: 827px;
    height: 288px;
    top: 1098px;
    left: 386px;
    gap: 0px;
    opacity: 0px;
  }

  .about h5 {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
  }

  .about h3 {
    color: var(--Dark-02, #474747);
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
}
.about-info {
  display: flex;
  align-items: center;
  text-align: center;
  width: 827px;
  margin: 0 auto;
  justify-content: space-evenly;
  padding-top: 20px;
}
.about-info h5 {
  color: var(--Dark-03, #757575);
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.about-p {
  width: 827px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--Dark-03, #757575);
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.about-main {
  width: 1140px;
  height: 400px;
  top: 967px;
  left: 230px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 0 auto;
}

.what-text h2 {
  margin-top: 8%;
  color: var(--Dark-01, #181818);
  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
}
.what-text p {
  width: 800px;
  color: var(--Dark-03, #757575);
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 0 auto;
}

.item {
  width: 1140px;
  height: 500px;
  flex-shrink: 0;
  margin: 0 auto;
  padding-top: 3%;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card-1 {
  padding: 40px;
  width: 267px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.item img {
  padding: 8px;
  flex-shrink: 0;
}
.item h2 {
  color: var(--Dark-01, #181818);
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 8px;
}
.item p {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding-top: 5px;

  width: 170px;
}

.card-2 {
  width: 267px;
  height: 350px;
  flex-shrink: 0;
  padding: 40px;
  border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.card-3 {
  width: 267px;
  height: 350px;
  flex-shrink: 0;
  padding: 40px;
  background: #fff;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.card-4 {
  width: 267px;
  height: 350px;
  flex-shrink: 0;
  padding: 40px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* resume */
.resume-main h1 {
  color: var(--Dark-01, #181818);
  text-align: center;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.resume {
  display: flex;
  width: 1140px;
  justify-content: space-evenly;
  text-align: start;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 50px;
}

.resume-left {
  width: 45%;
}
.resume-left h1 {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 30px;
  padding-top: 10px;
  text-align: start;
}
.resume-left h3 {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 25px;
  padding-top: 10px;
}
.resume-left h4 {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 20px;
  padding-top: 10px;
}

.resume-left p {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;

  padding-top: 10px;

  width: 399px;
}
.resume-right {
  width: 45%;
}

.resume-right h1 {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  padding-top: 10px;

  font-size: 30px;
  font-style: normal;

  text-align: start;
}
.resume-right h3 {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 25px;

  padding-top: 10px;
}
.resume-right h4 {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 20px;

  padding-top: 10px;
}

.resume-right p {
  color: var(--Dark-03, #757575);
  font-family: "Open Sans";
  font-size: 16px;

  padding-top: 10px;
  width: 399px;
}

.hr {
  width: 520px;
  height: 1px;
  background: #d1d1d1;
  margin-bottom: 5px;
  margin-top: 20px;
  margin-left: -5px;
}
.btn2 {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}
/* footer */

.footer {
  margin-top: 10px;
  padding: 100px;
  width: 1140px;
  margin: 0 auto;
  display: flex;
  height: 570px;
  flex-shrink: 0;
  margin-bottom: 50px;
  background: #fff8f3;
}
.footer-left {
  width: 49%;

  padding-left: 10px;
}
.footer-left h2 {
  color: var(--Dark-01, #181818);
  text-align: start;
  font-family: "Open Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.footer-left p {
  color: var(--Dark-02, #474747);
  font-family: "Open Sans";
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 460px;
}
.footer-left img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin-top: 10px;
  margin-left: 8px;
}

.footer-right {
  width: 45%;
  margin-left: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-right input {
  width: 461px;
  height: 54px;
  flex-shrink: 0;
  border-radius: 5px;
  background: var(--White-Color, #fff);
  border: 0;
  padding-left: 10px;
}

.footer-right textarea {
  width: 461px;
  height: 180px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 0;
  background: var(--White-Color, #fff);
  padding-left: 10px;
  padding: 10px;
}

.footer button {
  border: 0;
  font-size: 20px;
}

.btn5 {
  margin-top: 20px;
  padding: 10px;
  background-color: #fd6e0a;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
